
body {
  background: #fff;
  font-family: 'Open sans', sans-serif;
}

.container {
  min-height: 985px;
  width: 100%;
  max-width: 1000px;
  border-radius: 5px;
  padding: 40px 0;
  overflow: hidden;
  margin: 0 auto;
}


